<div class=marque>
    <MARQUEE> </MARQUEE>
    <MARQUEE BGCOLOR="#b8dcfc" DIRECTION=LEFT SCROLLDELAY=100 HEIGHT=20> GOD BLESS THIS MESS</MARQUEE> <b>BIENVENIDO A NUESTRA SUBASTA ANUAL</b>
  </div>
  <section class="noticias">
    <article class="main_content">
      <div class="cards-s"></div>
      <section class="s-categories" id="grafica">
        <h2 class="s-titulo">Articulos Recientes</h2>
        <button (click)="mostrar6($event)">Fecha de próxima Subasta</button>
  
        <div class="s-container">

        
          <div class="full-card">
            <div class="card transition">
              <div class="card_circle transition">
                <div *ngFor="let img of imagen1">
                  <img [src]="img" class="logo" /></div>
              </div>
              <h2 class="transition"> NUBE VOLADORA</h2>
              <p>Donación: Goku</p>
              <div class="cta-container transition"><a href="#" class="cta">Leer más</a></div>
            </div>
          </div>
  
          <div class="full-card">
            <div class="card transition">
              <div class="card_circle transition">
                <div *ngFor="let img of imagen2">
                  <img [src]="img" class="logo" /></div>
              </div>
              <h2 class="transition">CASCO ESPACIAL</h2>
              <p>Donación: StarLord</p>
              <div class="cta-container transition"><a href="#" class="cta">Leer más</a></div>
            </div>
          </div>
  
          <div class="full-card">
            <div class="card transition">
              <div class="card_circle transition">
                <div *ngFor="let img of imagen3">
                  <img [src]="img" class="logo" /></div>
              </div>
              <h2 class="transition">TELETRASPORTADOR</h2>
              <p>Incautado:Rick Sanchez</p>
              <div class="cta-container transition"><a href="#" class="cta">Leer más</a></div>
            </div>
          </div>

          <div class="full-card">
            <div class="card transition">
              <div class="card_circle transition">
                <div *ngFor="let img of imagen4">
                  <img [src]="img" class="logo" /></div>
              </div>
              <h2 class="transition">KID CAPSULE</h2>
              <p>Donación: Bulma</p>
              <div class="cta-container transition"><a href="#" class="cta">Leer más</a></div>
            </div>
          </div>

          <div class="full-card">
            <div class="card transition">
              <div class="card_circle transition">
                <div *ngFor="let img of imagen5">
                  <img [src]="img" class="logo" /></div>
              </div>
              <h2 class="transition"> TRAJE CELEBRACIÓN </h2>
              <p>Donado:  Fhloston Paradise</p>
              <div class="cta-container transition"><a href="#" class="cta">Leer más</a></div>
            </div>
          </div>
  
          <div class="full-card">
            <div class="card transition">
              <div class="card_circle transition">
                <div *ngFor="let img of imagen6">
                  <img [src]="img" class="logo" /></div>
              </div>
              <h2 class="transition">TRAJE INFINITO</h2>
              <p>Donado: Buzz Lightyear</p>
              <div class="cta-container transition"><a href="#" class="cta">Leer más</a></div>
            </div>
          </div>
  
          <div class="full-card">
            <div class="card transition">
              <div class="card_circle transition">
                <div *ngFor="let img of imagen7">
                  <img [src]="img" class="logo" /></div>
              </div>
              <h2 class="transition">NAVE CAPSULE</h2>
              <p>Donación: Capsule</p>
              <div class="cta-container transition"><a href="#" class="cta">Leer más</a></div>
            </div>
          </div>

          <div class="full-card">
            <div class="card transition">
              <div class="card_circle transition">
                <div *ngFor="let img of imagen8">
                  <img [src]="img" class="logo" /></div>
              </div>
              <h2 class="transition">TRAJE STAR TREK</h2>
              <p>Donación:Spock</p>
              <div class="cta-container transition"><a href="#" class="cta">Leer más</a></div>
            </div>
          </div>

        </div>
      </section>
    </article>
  </section>
  
  <h2 class="ayuda">Buscas algo en especial <input type="text" name="search" placeholder="Busca aqui"> </h2>
 
