<article class="main_content">

<section class="sliderdivtext">

    <div class="textoslider">

        <h1 class="tituloslider2">
            NUESTROS EMBAJADORES
            <br> </h1>
            <h2 class="tituloslider1">
                Agradecimiento a los embajadores y sus aportes a la paz de las galaxias.
            </h2>
        
    </div>
    <div class="slider">
        <ul>
            <li *ngFor="let img of imagen1">
                <img [src]="img" class="imagenslider" />
                <br>"I am Groot"
            
            </li>

            <li *ngFor="let img of imagen2">
                <img [src]="img" class="imagenslider" />
                <br>Leeloo 
            </li>

            <li *ngFor="let img of imagen3">
                <img [src]="img" class="imagenslider" />
                <br> Profesor Nerdelbaum Frink, Jr.
                
            </li>
            <li *ngFor="let img of imagen4">
                <img [src]="img" class="imagenslider" />
                <br>Goku
            </li>
        </ul>
    </div>

    <h1 class="tituloslider2">
        ASOCIADOS
        <br> </h1>

    <div class="slider">
        <ul>
            <li *ngFor="let img of imagen5">
                <img [src]="img" class="imagenslider" />    
               <br> Green Lantern Corps
            
            </li>

            <li *ngFor="let img of imagen6">
                <img [src]="img" class="imagenslider" />
                <br>The Watchers
            </li>

            <li *ngFor="let img of imagen7">
                <img [src]="img" class="imagenslider" />
                <br> The Galactic Federation
                
            </li>
            <li *ngFor="let img of imagen8">
                <img [src]="img" class="imagenslider" />
                <br>Silverhawks
            </li>
        </ul>
    </div>
</section>
</article>
